.git
node_modules
npm-debug.log
*.log
.env
.env.*
.panel
servers
behavior_packs
config
data
definitions
development_behavior_packs
development_resource_packs
development_skin_packs
resource_packs
worlds
world_templates
bedrock_server.exe
bedrock_server
allowlist.json
permissions.json
packetlimitconfig.json
profanity_filter.wlist
server.properties
bedrock_server_how_to.html
release-notes.txt
backups
*.zip
*.mcworld
*.mcpack
*.mcaddon
packet-statistics.txt
