ADMIN_PASSWORD=change-moi
SESSION_SECRET=change-moi-avec-une-longue-valeur-random
AUTO_START=true
SERVER_DIR=/data/servers/principal
SERVERS_DIR=/data/servers
BACKUP_ROOT=/data/backups
SEED_DIR=/opt/bedrock-seed
# BDS_DOWNLOAD_URL=https://www.minecraft.net/bedrockdedicatedserver/bin-linux/bedrock-server-x.y.z.zip
