ADMIN_PASSWORD=change-moi
SESSION_SECRET=change-moi-avec-une-longue-valeur-random
AUTO_START=true
SERVER_DIR=/data/servers/principal
SERVERS_DIR=/data/servers
BACKUP_ROOT=/data/backups
SEED_DIR=/opt/bedrock-seed
PUBLIC_IP=
PLAYIT_SECRET=
PLAYIT_ADDRESS=
PLAYIT_LOCAL_PORT=19132
# PLAYIT_TUNNELS={"19132":"exemple.gl.joinmc.link:12345","19134":"exemple2.gl.joinmc.link:23456"}
# BDS_DOWNLOAD_URL=https://www.minecraft.net/bedrockdedicatedserver/bin-linux/bedrock-server-x.y.z.zip
